

@media only screen and (min-width: 600px) {
    body{
        background-color: rgb(18, 17, 17);
    }
    .gird-container {
        display: grid;
        grid-template-areas: 
        
        "nav title1 title1"
        "nav about-me about-me"
        "nav title2 title2"
        "nav service service"
        "nav title3 title3"
        "nav family family"
        "nav resume-title resume-title"
        "nav resume resume"
        "nav skills skills";
        
        gap: 5px;
        padding: 5px;
    }

    
    .gird-container > div.skills-div {
        grid-area: skills;
        margin: 0% 10% 0% 10%;
        text-align: center;
    }
    
    .gird-container > div.title1{
        grid-area: title1;
        margin: 10% 10% 0% 10%;
    }
    
    .gird-container > div.about-me {
        grid-area: about-me;
        margin: 0% 15% 0% 15%;
    }
    
    .gird-container > div.title2 {
        grid-area: title2;
        margin: 0% 10% 0% 10%;
    }
    
    .gird-container > div.service {
        grid-area: service;
        margin: 0% 15% 0% 15%;
    }
    
    .gird-container > div.title3 {
        grid-area: title3;
        margin: 0% 10% 0% 10%;
    }
    
    .gird-container > div.family {
        grid-area: family;
        margin: 0% 15% 0% 15%;
    }

    .gird-container > div.resume-title{
        grid-area: resume-title;
        margin: 0% 10% 0% 10%;
    }
    
    .gird-container > div.resume {
        grid-area: resume;
    }
    .resume-form {

        width: auto;
        height: auto;
        aspect-ratio: 3/4;
    }
    
    .body-h2 {
        color: #bababa;
    }
    
    .about-me > p {
        color: #bababa;
    }
    
    .service > p {
        color: #bababa;
    }
    
    .family > p {
        color: #bababa;
    }
    .skills-div h2 {
        color: #d8d8d8;
        border-bottom: 5px solid #c7c7c7;
        text-align: left;
    }
    
    
    /* Skills card */
    .skill {
        display: inline-block;
        background-color: transparent;
        width: 200px;
        height: 200px;
        margin: 10px 10px;
        perspective: 1000px;
    }
    
    .skill-card-inner {
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        border-radius: 20%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .skill:hover .skill-card-inner{
        transform: rotateY(180deg);
    }
    
    .skill-card-front, .skill-card-back {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .skill-card-front {
        background-color: rgb(36, 38, 38);
        border-radius: 20%;
        color:#bababa;
        padding-top: 10px;
    }
    
    .skill-card-front h3 {
        margin: 0;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        text-align: center;
    }
    
    .skill-card-back {
        background-color: rgb(36, 38, 38);
        color: white;
        border-radius: 20%;
        transform: rotateY(180deg);
    }
    
    .skill-card-back p {
        font-size: 15px;
        margin-bottom: 0;
    }
    
    .skill-card-front img {
        object-fit: cover;
        top: 0;
        left: 0;
        margin: 0;
        border-radius: 10px;
        max-width: 75%;
        max-height: 75%;
        min-width: 75%;
        min-height: 75%;
        width: auto;
        height: auto;
    }
    
    .skill-card-front > a {
        display: block;
        font-size: 10px;
        margin: 0;
        text-decoration: none;
        color: #000;
    }
    
    .associated-projects > a {
        text-decoration: none;
        color: #000;
        font-size: 15px;
        color:#4c7c78
    }
}

@media only screen and (max-width: 600px) {
    body{
        background-color: rgb(18, 17, 17);
        margin: 0;
    }
    .gird-container {
        display: grid;
        grid-template-areas: 
        'nav'
        "title1"
        "about-me"
        "title2"
        "service"
        "title3"
        "family"
        "resume"
        "skills";
        position: relative;
        z-index: 0;

    }

    .gird-container > div.skills-div {
        grid-area: skills;
        position: absolute;
        /* width: 66%; */
        justify-content: end;
        align-content: end;
        margin: 0% 10% 0% 10%;
        text-align: center;
        z-index: 1;
    }
    
    .gird-container > div.title1{
        grid-area: title1;
        margin: 10% 10% 0% 10%;
    }
    
    .gird-container > div.about-me {
        grid-area: about-me;
        margin: 0% 15% 0% 15%;
    }
    
    .gird-container > div.title2 {
        grid-area: title2;
        margin: 0% 10% 0% 10%;
    }
    
    .gird-container > div.service {
        grid-area: service;
        margin: 0% 15% 0% 15%;
    }
    
    .gird-container > div.title3 {
        grid-area: title3;
        margin: 0% 10% 0% 10%;
    }
    
    .gird-container > div.family {
        grid-area: family;
        margin: 0% 15% 0% 15%;
    }
    
    .body-h2 {
        color: #bababa;
    }
    
    .about-me > p {
        color: #bababa;
    }
    
    .service > p {
        color: #bababa;
    }
    
    .family > p {
        color: #bababa;
    }
    .skills-div h2 {
        color: #d8d8d8;
        border-bottom: 5px solid #c7c7c7;
        text-align: left;
    }
    
    
    /* Skills card */
    .skill {
        display: inline-block;
        z-index: 1;
        background-color: transparent;
        width: 200px;
        height: 200px;
        margin: 10px 10px;
        perspective: 1000px;
    }
    
    .skill-card-inner {
        z-index: 1;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        border-radius: 20%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .skill:hover .skill-card-inner{
        transform: rotateY(180deg);
    }
    
    .skill-card-front, .skill-card-back {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .skill-card-front {
        z-index: 1;
        background-color: rgb(36, 38, 38);
        border-radius: 20%;
        color:#bababa;
        padding-top: 10px;
    }
    
    .skill-card-front h3 {
        margin: 0;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        text-align: center;
    }
    
    .skill-card-back {
        position: relative;
        z-index: 1;
        background-color: rgb(36, 38, 38);
        color: white;
        border-radius: 20%;
        transform: rotateY(180deg);
    }
    
    .skill-card-back p {
        font-size: 15px;
        margin-bottom: 0;
    }
    
    .skill-card-front img {
        position: relative;
        z-index: 1;
        object-fit: cover;
        top: 0;
        left: 0;
        margin: 0;
        border-radius: 10px;
        max-width: 75%;
        max-height: 75%;
        min-width: 75%;
        min-height: 75%;
        width: auto;
        height: auto;
    }
    
    .skill-card-front > a {
        z-index: 1;
        display: block;
        font-size: 10px;
        margin: 0;
        text-decoration: none;
        color: #000;
    }
    
    .associated-projects > a {
        text-decoration: none;
        color: #000;
        font-size: 15px;
        color:#4c7c78
    }

    .gird-container > div.resume {
        grid-area: resume;
        text-align: center;
    }
    .resume-form {
        width: 90%;
    }
}
