/* .body {
    width: flex;
    height: auto;
} */
/* .profile-block {
    width: 25%; 
    height: auto;
    display: inline;
} */
.profile-picture {
    height: 150px;
    width: 125px;
    border-radius: 50%
}
/* .title {
    width: 75%;
    display: inline;
} */
