
@media only screen and (min-width: 600px){
    body{
        background-color: rgb(18, 17, 17);
        margin: 0;
    }
    .gird-container {
        display: grid;
        grid-template-areas: 
        "header header header "
        "nav space profile";
        
        gap: 5px;
        padding: 5px;
    }
    

    .gird-container > div.body-colm {
        grid-area: profile;
        align-content: center;
        margin-top: 25%;
    }


    
    
    .gird-container > div.nav-list {
        position: sticky;
        grid-area: nav;
        top: 100px;
        list-style-type: none;
        margin: 10px;
        padding: 0;
    }
    
    .gird-container > div.details {
        grid-area: space;
        align-content: center;
        margin-top: 50%;
        font-size: larger;
        color: aliceblue;
    }
    
    .profile-picture {
        grid-area: profile;
        height: 250px;
        width: 225px;
        border-radius: 50%;
        right: 0%;
    }
    

}
@media only screen and (max-width: 600px){
    body{
        -ms-overflow-style: none;  
        scrollbar-width: none;
        background-color: rgb(18, 17, 17);
        margin: 0;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    .gird-container {
        display: grid;
        grid-template-areas: 
        "profile"
        "space";
    }
    
    
    .gird-container > div.body-colm {
        grid-area: profile;
        text-align: center;
        margin-top: 25%;
    }
    
    .gird-container > div.details {
        grid-area: space;
        align-content: center;
        font-size: larger;
        color: aliceblue;
    }
    
    .profile-picture {
        grid-area: profile;
        height: 150px;
        border-radius: 50%;
        right: 0%;
    }

    .details > p {
        margin: 15px;
    }
    
}