@media only screen and (min-width: 600px){
    body{
        background-color: rgb(18, 17, 17);
    }
    .gird-container {
        display: grid;
        grid-template-areas: 
        "header header header "
        "nav space profile"
        "nav body body"
        'nav skill skill';
        
        gap: 5px;
        padding: 5px;
    }
    
    .gird-container > div.nav-colm {
        position: relative;
        grid-area: nav;
    }
    
    .gird-container > div.body-colm {
        grid-area: profile;
    }
    .web-name {
        margin: 20px 20px;
        color: aliceblue;
    }
    .gird-container > h1.web-name {
        position: fixed;
        grid-area: header;
    }
    
    
    .gird-container > div.nav-list {
        position: sticky;
        grid-area: nav;
        top: 100px;
        list-style-type: none;
        margin: 10px;
        padding: 0;
    }

    #nav-sticky {
        position: sticky;
        top: 0;
        overflow: hidden;
    }
}

@media only screen and (max-width: 600px) {
    body{
        background-color: rgb(18, 17, 17);
        margin: 0;
    }
    header {
        display: none;
        margin: 0;
    }

    .gird-container {
        display:inline;
        margin: 10px;
    }
    .nav-colm {
        position: relative;
        background-color: #000;
    }
    .nav-list > li {
        display: inline;
    }
    #nav-sticky {
        position: fixed;
        height: 15%;
        width: 100%;
        background-color: #000;
    }
    .web-name {
        position: absolute;
        /* margin: 20px 20px; */
        color: aliceblue;
    }

    
}