@media only screen and (min-width: 600px){
    body{
        background-color: rgb(18, 17, 17);
        margin: 0;
    }
    .gird-container {
        display: grid;
        grid-template-areas: 
        'nav title appicon'
        'nav lang lang'
        'nav description description'
        'nav media media';
    }


    .gird-container > div.title{
        grid-area: title;
    }

    .gird-container > div.description {
        grid-area: description;
    }

    .gird-container > div.appicon {
        grid-area: appicon;
        height: 200px;
        width: 200px;
        border-radius: 20px;
        background-color: darkgrey;
        text-align: center;
        justify-content: center;
    }

    .gird-container > div.media{
        grid-area: media;
        
    }

    .gird-container > div.software-lang {
        grid-area: lang;
    }

    h2.s-l-title {
        margin: 20px 0px 0px 30px;
        font-size: 25px;
        color: aliceblue;
    }
    
    .used-s-l {
        color:aliceblue;
        font-size: 20px;
        margin: 10px 0px 0px 50px;
    }

    .s-l {
        display: inline;
        margin-right: 10px;
    }
    
    .media {
        margin: 10px;
        width: 100%;
        padding: 10px;
        text-align: center;
    }


    .description > p {
        color: aliceblue;
        font-size: 20px;
        margin: 20px;
    }

    .noIcon {
        font-size: 30px;

    }

    .title {
        color: aliceblue
    }

    .media-card {
        display: inline-block;
        height: 400px;
        width: 200px;
        margin: 5px;
        background-color: darkgray;
        border-radius: 20px;
        text-align: center;
        justify-content: center;


    }

    .video-card {
        position: relative;
        display: inline;
        aspect-ratio: 1.0;
        object-fit: fill;
        border-radius: 20px;
        height: 400px;
        width: 200px;
        
    }

    .img-card {
        position: relative;
        display: inline;
        aspect-ratio: 1.0;
        object-fit: fill;
        border-radius: 20px;
        height: 400px;
        width: 200px;
        
    }
    .no-media > p {
        display: inline-block;
        color: aliceblue;
        font-size: 20px;
    }
    
    .line {
        display: inline-block;
        background-color: aliceblue;
        width: 25%;
        height: 2px;
        margin: 3px;
    }
  
}

@media only screen and (max-width: 600px) {
    body{
        -ms-overflow-style: none;  
        scrollbar-width: none;
        background-color: rgb(18, 17, 17);
        margin: 0;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    .gird-container {
        display: grid;
        grid-template-areas: 
        "title"
        'appicon'
        'lang'
        'description'
        'media';
    }

    .description > p {
        color: aliceblue;
        font-size: 20px;
        margin: 20px;
    }

    .gird-container > div.title{
        grid-area: title;
        color: aliceblue;
        margin: 50px 10px 0px 10px;
        text-align: center;
        align-content: center;
    
    }
    .gird-container > div.appicon{
        grid-area: appicon;
        margin: 0px 20px 0px 10px;
        align-items: center;
        text-align: center;
    }
    .gird-container > div.description{
        grid-area: description;
    }
    .gird-container > div.media{
        grid-area: media;
    }

    .gird-container > div.software-lang {
        grid-area: lang;
        margin: 20px;
    }

    h2.s-l-title {
        margin: 20px 0px 0px 30px;
        font-size: 25px;
        color: aliceblue;
    }
    
    .used-s-l {
        color:aliceblue;
        font-size: 20px;
        margin: 10px 0px 0px 50px;
    }

    .s-l {
        display: inline;
        margin-right: 10px;
    }
    

    .media {
        margin: 10px;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .title-div {
        text-align: center;
    }

    .description > p {
        color: aliceblue;
        font-size: 20px;
        margin: 20px;
    }

    .noIcon {
        font-size: 20px;

    }

    .title {
        color: aliceblue
    }

    .media-card {
        display: inline-block;
        height: 300px;
        width: 150px;
        margin: 5px;
        background-color: darkgray;
        border-radius: 20px;
        text-align: center;
        align-content: center;
        object-fit: contain;
    }
    .media-placeholder > p {
        font-size: 20px;
    }
    .appicon {
        grid-area: projects;
        height: 100px;
        width: 100px;
        border-radius: 20px;
        background-color: darkgrey;
        text-align: center;
        align-content: center;
    }

    .media-card > p{
        position: relative;
        align-items: center;
        text-align: center;
        
    }

    .video-card {
        position: relative;
        display: inline;
        aspect-ratio: 1.0;
        object-fit: fill;
        border-radius: 20px;
        height: 300px;
        width: 150px;
    }

    .img-card {
        position: relative;
        display: inline;
        aspect-ratio: 1.0;
        object-fit: fill;
        border-radius: 20px;
        height: 300px;
        width: 150px;
    }
    .no-media > p {
        display: inline-block;
        color: aliceblue;
        font-size: 20px;
    }
    
    .line {
        display: inline-block;
        background-color: aliceblue;
        width: 25%;
        height: 2px;
        margin: 3px;
    }

}

